.place__zone {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__zone {
        grid-row: 4/5;
        grid-column: 1/2;
    }
}